@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Poppins:wght@400;500;700&display=swap");
@import "./assets/icons.css";

:root {
  --primary-clr: #fff;
  --secondary-color: #7683f6;
  --body-bg: #ebf4fc;
  --reb-blue: rebeccablue;
  --txt-clr: #828282;

  --f-size-14: 14px;
  --f-size-15: 15px;
  --f-size-16: 16px;
  --f-size-20: 20px;
  --f-size-24: 24px;
  --f-size-25: 25px;

  --f-regular: 400;
  --f-medium: 500;
  --f-semibold: 500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-family: "Poppins", System-ui;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: inherit;
  overflow-wrap: break-word;
}

h1 {
  font-size: var(--f-size-25);
  font-weight: var(--f-regular);
}

ul,
ol[role="list"] {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
a:active {
  color: var(--txt-clr);
}

input {
  font-family: inherit;
  outline: none;
}
button {
  border: 0px;
  outline: none;
}
#root {
  background-color: var(--body-bg);
  max-width: 100%;
  min-height: 100vh;
}

.search-form {
  flex-basis: 50%;
  text-align: center;
}
.search-form input {
  border: none !important;
  padding: 10px 20px;
  border-radius: 10px;
  color: black;
  width: 100%;
}
.search-form:focus {
  outline: 1px dashed rgba(0, 0, 0, 0.2);
}

/* ### Dashboard page Navbar ### */
.dashboard__nav {
  margin-top: 30px;
  padding: 20px 35px;
  min-height: 100%;
}
.dashboard__navlist {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}
.dashboard__nav-item {
  background-color: var(--primary-clr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
}
.dashboard__nav-item i {
  font-size: 25px;
}
.dashboard__nav-item p {
  flex-basis: 100%;
  font-weight: 600;
  color: var(--txt-clr);
}

/* #### Order page ### */
/* ### Order page Navbar ### */
.order-page {
  min-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 5% 70% 25%;
}
.order-page__nav {
  min-height: 100%;
  background-color: var(--primary-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 30px;
}
.order-page__nav-wraper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.order-page__nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: var(--f-size-20);
}

/* ### Order section ### */
.order-sec {
  height: 100vh;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
  position: relative;
}
.order-sec .warning {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: yellow;
  padding: 10px 20px;
  border-radius: 10px;
}

/* ### Order Page header ### */
.order-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-header__cont h3 {
  font-weight: 500;
  font-size: 24px;
}
.order-header__cont p {
  font-size: 14px;
}
/* ### Order Page header ### */
.food-product__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.foodList {
  background: var(--primary-clr);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.foodList .product-card__img {
  border-radius: 10px;
  margin-bottom: 20px;
}
.foodList .product-card__cont h5 {
  font-weight: 500;
  font-size: 16px;
}
.foodList .product-card__price {
  font-weight: 600;
  font-size: 20px;
}
.foodList .product-card__tag {
  background: red;
  border-radius: 10px;
  padding: 5px 20px;
  color: white;
  display: block;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  font-size: 14px;
  font-weight: 500;
}

/* ### Order Cart ### */
.order-cart {
  background: white;
  padding: 50px 30px;
  display: grid;
  & .order_cart__orders {
    align-self: flex-start;
  }
  & .order-cart__btn {
    align-self: flex-end;
    background: var(--secondary-color);
    font-size: 25px;
    font-weight: 500;
    color: var(--primary-clr);
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
  }

  & .total-amount p {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  & .total-amount {
    font-size: 14px;
    background: var(--body-bg);
    border-radius: 10px;
    padding: 20px;

    &.total-amount p:last-child {
      font-size: 16px;
      margin-top: 20px;
    }
  }
}

.order-cart__orders {
  max-height: 250px;
  overflow-y: scroll;
}

/* ### Order Card ### */

.order-card {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: relative;

  & .order-card__remove {
    font-size: 8px;
    font-weight: 400;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  & .order-card__img {
    width: 50px;
    flex-basis: 30%;
    object-fit: cover;
    border-radius: 10px;
  }

  & .order-card__content {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .order-card__content h5 {
    font-weight: 400;
    font-size: 15px;
  }
  & .order-card__cls-btn {
    background-color: var(--secondary-color);
    position: absolute;
    border-radius: 10px;
    padding-inline: 5px;
    color: var(--primary-clr);
  }

  & .order-card__price {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .item-count {
      display: flex;
      gap: 10px;

      & button {
        font-size: 16px;
        width: 25px;
        aspect-ratio: 1;
        outline: none;
        border: none;
        border-radius: 100vw;
        background-color: var(--txt-clr);
        color: var(--primary-clr);
        cursor: pointer;
      }
    }
  }
}
.order-card:hover .order-card__remove {
  opacity: 1;
}
